@import "tailwindcss";

/* Sirf Light Mode theme */
:root {
  --background: #F7F8F9;
  --foreground: #172B4D;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for better UX */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #ebecf0;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #bfc4ce;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #a5adba;
}

